<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="#" method="post" th:action="@{/register}" th:object="${form}">
    <div>
        <label for="name">name: </label>
        <input type="text" id="name" th:field="*{name}">
    </div>
    <div>
        <label for="username">username: </label>
        <input type="text" id="username" th:field="*{username}">
    </div>
    <div>
        <label for="password">password: </label>
        <input type="password" id="password" th:field="*{password}">
    </div>
    <div>
        <label for="role">role: </label>
        <select name="role" id="role" th:field="*{role}">
            <option value="USER">사용자</option>
            <option value="MANAGER">관리자</option>
            <option value="ADMIN">어드민</option>
        </select>
    </div>
    <button type="submit">Register</button>
</form>
</body>
</html>
